@media screen and ( max-width: 375px ) {
    
    .main-header .container .site-navbar span i.fa-solid{
        display: table;
        font-size: 24px;
    }

    .main-header .container .site-navbar .navigation-items{
        display: none;
    }

    .main-header .container .site-navbar{
        margin: 20px;
    }

    .main-header .container .site-navbar .site-logo > a{
        font-size: 1.34rem;        
    }

    .main-header .container .site-navbar .site-logo a img{
        width: 28.724px;
        height: 33.516px;
        margin-right: 9.99px;
    }

    .hero-banner-section .container{
        margin: 24px 20px;
        padding: 32px 16px;
        width: 335px;
        height: auto;
    }

    .hero-banner-section .container h1{
        font-size: 22px;
    }

    .hero-banner-section .container p{
        margin: 12px auto 32px;
        line-height: 21px;
        font-size: 14px;
        width: 306px;
    }

    .hero-banner-search-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .common{
        width: 100%;
    }

    .hero-banner-section a{
        width: 100%;
    }

    .our-popular-tours .container{
        margin: 0px 20px 24px;
        flex-direction: column;
    }

    .our-popular-tours .container .our-popular-tours-text-col{
        width: 100%;
    }

    .our-popular-tours .container .our-popular-tours-text-col h2{
        font-size: 20px;
    }

    .our-popular-tours .container .our-popular-tours-text-col p, .our-popular-tours .container .our-popular-tours-text-col ol li{
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        width: 100%;
        text-align: justify;
    }

    .our-popular-tours .container .our-popular-tours-img-col{
        width: 100%;
        height: auto;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .destination-section .container{
        margin-bottom: 24px;
    }

    .destination-section .container h2{
        font-size: 20px;
        font-weight: 800;
    }

    .destination-section .container p{
        font-size: 14px;
        margin-bottom: 16px;
        width: 309px;
        margin-left: auto;
        margin-right: auto;
    }

    .picture-collage{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .picture-collage div h4{
        font-size: 20px;
    }

    .picture-collage div, .picture-collage .picture-collage-div-03, .picture-collage .picture-collage-div-04, .picture-collage .picture-collage-div-05{
        height: 176px;
    }

    .picture-collage .picture-collage-div-01 > h4{
        top: 75px;
        bottom: 76px;
        left: 126px;
        right: 124px;
    }
    
    .picture-collage .picture-collage-div-02 > h4{
        top: 75px;
        bottom: 75px;
        left: 121px;
        right: 121px;
    }
    
    .picture-collage .picture-collage-div-03 > h4{
        top: 75px;
        bottom: 76px;
        left: 127px;
        right: 126px;
    }
    
    .picture-collage .picture-collage-div-04 > h4{
        top: 75px;
        bottom: 76px;
        left: 98px;
        right: 97px;
    }
    
    .picture-collage .picture-collage-div-05 > h4{
        top: 75px;
        bottom: 76px;
        left: 128px;
        right: 128px;
    }
    
    .picture-collage .picture-collage-div-06 > h4{
        top: 75px;
        bottom: 76px;
        left: 111px;
        right: 111px;
    }
    
    .picture-collage .picture-collage-div-07 > h4{
        top: 75px;
        bottom: 76px;
        left: 114px;
        right: 113px;
    }




}