*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

img{
    vertical-align: middle;
    width: 100%;
    height: auto;
    object-fit: cover;
}

video{
    width: 100%;
    height: auto;
}

.container{
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
}

.main-header .container .site-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
}

.main-header .container .site-navbar .site-logo > a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: 800;
    color: #131318;
    text-transform: capitalize;
}

.main-header .container .site-navbar .site-logo a img{
    width: 48px;
    height: 56.008px;
    object-fit: contain;
    margin-right: 16px;
}

.main-header .container .site-navbar .site-logo a h2{
    margin: 0;
}

.main-header .container .site-navbar .site-logo > a span.logo-text-color{
    color: #ff5400;
}

.main-header .container .site-navbar .navigation-items ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-header .container .site-navbar .navigation-items ul li{
    list-style: none;
    margin-right: 44px;
}

.main-header .container .site-navbar .navigation-items ul li a{
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: capitalize;
}

.main-header .container .site-navbar .navigation-items ul li:first-child a{
    color: #ff5400;
}

.main-header .container .site-navbar .navigation-items ul li:last-child{
    margin-right: 0;
}

.main-header .container .site-navbar span i.fa-solid{
    display: none;
}

.hero-banner-section .container{
    margin-top: 49px;
    margin-bottom: 100px;
    padding: 106px 185px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url( '../images/Group\ 13\ \(1\)\ \(1\).png' );
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
}

.hero-banner-section .container h1{
    font-size: 64px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 0;
}

.hero-banner-section .container p{
    margin: 24px auto 48px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    width: 676px;
}

.hero-banner-search-section{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 16px;
    display: inline-flex;
    gap: 24px;
    align-items: flex-start;
    width: 100%;
}

.common{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: #fff;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
    text-transform: capitalize;
    border: none;
    outline: none;
}

.hero-banner-section a{
    background-color: #ff5400;
    width: 174px;
    height: 52px;
    padding: 14px 35px;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.hero-banner-section a span.search-icon{
    width: 24px;
    height: 24px;
    fill: #fff;
    position: relative;
    top: 3px;
    left: -10px;
}

.our-popular-tours .container{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-popular-tours .container .our-popular-tours-text-col{
    width: 47%;
    height: auto;
}

.our-popular-tours .container .our-popular-tours-text-col h2{
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    color: #131318;
}

.our-popular-tours .container .our-popular-tours-text-col p{
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 525px;
}

.our-popular-tours .container .our-popular-tours-text-col ol{
    list-style: disc;
    
}

.our-popular-tours .container .our-popular-tours-text-col ol li{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 16px auto;
}

.our-popular-tours .container .our-popular-tours-text-col a{
    display: table;
    margin-top: 32px;
    text-decoration: none;
    padding: 14px 35px;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    background-color: #ff5400;
    border-radius: 8px;
    text-transform: capitalize;
}

.our-popular-tours .container .our-popular-tours-img-col{
    width: 47%;
    height: auto;
}

.our-popular-tours .container .our-popular-tours-img-col img{
    width: 100%;
}







